<!--        
𝕤𝕒𝕥𝕟𝕒𝕧
-->


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">


<style>






::selection {background:#4f585f; color:#ddd7d2;}
::-moz-selection {background:#4f585f; color:#ddd7d2;}


    body {
  background: url("https://i.ibb.co/prGn4Tn/evabg.jpg") no-repeat left top fixed; 
  background-color:#4C4B49;
  -webkit-background-size: auto 90%;
  -moz-background-size: auto 90%;
  -o-background-size: auto 90%;
  background-size: auto 90%;
    font-family: 'Cormorant Garamond', serif;
    }
    
    
    /* title */
   
    a { 
text-decoration: none; 
-webkit-transition: all .5s; 
-moz-transition: all .5s; 
-o-transition: all .5s; 
-ms-transition: all .5s; 
transition: all .5s; 
color:#d1846c;
} 


a:hover {color:#888e6b;}


/* scrollbar */ 


::-webkit-scrollbar { 
width:5px; height:5px;  background:#917764; z-index:2;


} 
::-webkit-scrollbar-thumb { 
background:#d1846c; width:5px; height:5px; z-index:2;
} 




/* container */


.tabs {
list-style: none;
height:400px;
position: absolute;
width:500px;
margin-left:340px;
margin-top:200px;
}


/* tab display stuff */


.tabs input[type=radio] {
display:none;
}


.tab {float: left;} 


/* tab labels */


.tab label {display: block; 
position: relative; 
-webkit-transition: all .7s; 
-moz-transition: all .7s; 
-o-transition: all .7s; 
-ms-transition: all .7s; 
transition: all .7s; 
margin-top:300px;
font-size:12px; text-transform:uppercase;
text-align:center;
margin-right:10px;
color:#aaa29a;
height:30px;
line-height:30px;
background-image:url('https://i.ibb.co/Nyjpk3T/eval2.png');
background-repeat:no-repeat;
background-position:-52px center;
background-size:contain;
min-width:50px;
cursor:pointer;
overflow:hidden;
opacity:0;
}


.tab label a {
color:#aaa29a;}


.first {
margin-left:-30px;}






/* tab appearance effects */


.tabs:hover .tab label {opacity:1;}


.tabs:hover .tab label.second {
    transition-duration: 0.5s, 0.5s, 0.7s;
  transition-delay: 0.2s, 0s, 0s;
  transition-property: opacity, color, background-position;
}


.tabs:hover .tab label.third {
    transition-duration: 0.5s, 0.5s, 0.7s;
  transition-delay: 0.4s, 0s, 0s;
  transition-property: opacity, color, background-position;
}




.tabs:hover .tab label.fourth {
    transition-duration: 0.5s, 0.5s, 0.7s;
  transition-delay: 0.6s, 0s, 0s;
  transition-property: opacity, color, background-position;
}


.tabs:hover .tab label.fifth {
    transition-duration: 0.5s, 0.5s, 0.7s;
  transition-delay: 0.8s, 0s, 0s;
  transition-property: opacity, color, background-position;
}


/* tab hover */


.tab label:hover, .tab label a:hover { 
color:#f4ede9; background-position:center;
} 




/* tab labels when checked */


[type=radio]:checked ~ label {color: #f4ede9; background-position:center; } 


[type=radio]:checked ~ label ~ .content {z-index: 1; opacity: 1;} 


.flower {background-image:url('https://i.ibb.co/kSy24bp/evafl.png'); display:block; width:100px; height:100px;
  background-size: contain; background-repeat:no-repeat; margin-left:340px; margin-top:250px; z-index:500; position:absolute;}


/* container for tab content */ 


.content {


position: absolute; 
color:#ece7e2;
font-size:14px; 
line-height:21px;
text-align:left; 
padding-right:5px;
top: 0px; 
left: 0px; 
overflow:auto;
width: 350px; 
height:290px; 
opacity:0;
-webkit-transition: all .5s ease; 
transition: all .5s ease; 
margin-bottom:20px;
}


.content a {font-weight:700;}






/* links page */


.linksys {
    width:350px; height:290px;
    background-image:url('https://i.ibb.co/XZyLj4Z/tape.png');
    background-size:contain;
    z-index:2;
    position:absolute; top:0; left:0;
}


.linksysbg {
    width:350px; height:290px;
position:absolute; top:0px; left:0px; z-index:1;
}


.linksysbg img {width:100%; height:100%; opacity:0; position:absolute;  
    -webkit-transition: all .7s ease; transition: all .7s ease; }


.lin {
position:absolute;z-index:5; font-style:italic; font-size:15px; color:#95877D; text-align:center; padding:5px 2px; text-align:center; -webkit-transition: all .5s ease; transition: all .5s ease; }


.lin:before {
content: '';   background: #886A5E;   display: block;   position: absolute; bottom: 1px;   left: 0;   width: 0;   height: 1px; -webkit-transition: all .5s ease; transition: all .5s ease; }


.lin:hover::before {
 width: 100%;} 
 
 .lin:hover {color:#886A5E !important;}


#link1 {top:60px; left:40px; }
#link1:hover ~ #boop.linksysbg img {
    opacity:1; }


#link2 {top:60px; left:120px; }
#link2:hover ~ #beep.linksysbg img {
    opacity:1; }
    
#link3 {top:60px; left:175px; }
#link3:hover ~ #baap.linksysbg img {
    opacity:1; }
    
#link4 {top:60px; left:275px; }
#link4:hover ~ #buip.linksysbg img {
    opacity:1; }




/*credit*/ 


.giggsy, .gnev, .scholesy:hover .fizzer { 
background-color:#888e6b !important;}


.gnev, .scholesy:hover .fizzer {
    color:white !important;
}


.fizzer {
    background-color:#cb7e65 !important;
    color:white !important;
}
</style>


<link href='https://cdn.rawgit.com/tookthat/things/df8747c3/stylesheet.css' rel='stylesheet' type='text/css'>




<title>PAGE TITLE</title>


<div class="tabs"> 
<div class="flower"></div>




<div class="tab"> 
<input type="radio" id="tab-1" name="tab-group-1" checked> 
<label for="tab-1" class="first">about me</label> 
<div class="content"> 


Seeing his side failing to find a cutting edge, Alex Ferguson then made what turned out to be the first of two inspired substitutions, bringing on Teddy Sheringham. Ottmar Hitzfeld’s response was to bring on the clever German midfielder Mehmet Scholl, who made an immediate impact, setting up Stefan Effenberg, before Basler embarked on a mazy run that ended with Scholl curling a delightful <a href="/">chip</a> over the helpless Peter Schmeichel, only to see his effort come back off the bar.<br><br>


Cue inspired substitution number two, with super-sub Ole Gunnar Solskjaer entering the game with just ten minutes of normal time to go.<br><br>




</div></div> 






<div class="tab"> 
<input type="radio" id="tab-2" name="tab-group-1"> 
<label for="tab-2" class="second">achievements</label> 
<div class="content"> 


Bayern then had the chance to seal United’s fate as Jancker smashed an overhead kick against the bar with Schmeichel beaten once again.<br><br>


Still scarred by seeing United crash out of Europe to Monaco the year before, I was despondent by this point, strongly refuting my Mum’s claims that “There’s always next year…” with an adamant “No there isn’t!”<br><br>


With the game ticking over the 90 minute mark, United won a corner, prompting yet another memorable line of commentary from Tyldesley. “Can Manchester United score? They always score.”. 


</div></div> 








<div class="tab"> 
<input type="radio" id="tab-3" name="tab-group-1"> 
<label for="tab-3" class="third">comments</label> 
<div class="content"> 
In a last desperate attempt to rescue the game, United ‘keeper Peter Schmeichel, playing his last game for the club, made his way into the area hoping for a repeat of the goal he scored against Rotor Volgograd in the UEFA Cup four years previously.<br><br>


David Beckham’s whipped delivery almost found ‘The Great Dane’, with the ball falling to Dwight Yorke at the back post, who managed to hook the ball back across goal. Bayern’s Thorsten Fink just about hooked the ball out of the area, with his clearance falling to Ryan Giggs. On his un-favoured right foot, Giggs scuffed a poor effort at goal. Luckily for United though, Teddy Sheringham was in the right place at the right time to sweep the ball into the bottom corner past a motionless Oliver Kahn, leaving Bayern stunned and me jumping around my living room in delight.<br><br>


At this point I was psyching myself up for extra time, having managed to persuade my parents that I simply had to stay up past my bedtime to watch the rest of the game. I should really have known better.<br><br>


Never a team to rest on their laurels and settle for anything less than a win, United pushed forward in pursuit of a winner, almost instantly forcing another corner. Another pinpoint delivery from David Beckham was met by a glancing header from Sheringham, sending the ball into the path of Solskjaer, who, with touch of his outstretched right leg, sent the ball into the roof of the net.


</div></div> 










<div class="tab"> 
<input type="radio" id="tab-4" name="tab-group-1"> 
<label for="tab-4" class="fourth">links</label> 
<div class="content">
<a href="/" id="link1" class="lin">portfolio</a>   
<a href="/" id="link2" class="lin">owl</a>   
<a href="/" id="link3" class="lin">trophy case</a>   
<a href="/" id="link4" class="lin">store</a> 
<div class="linksys"></div>
<div id="boop" class="linksysbg"><img src="https://i.ibb.co/DtnXq1g/link5.png"></div>
<div id="beep" class="linksysbg"><img src="https://i.ibb.co/x5pLKFH/link3.png"></div>
<div id="baap" class="linksysbg"><img src="https://i.ibb.co/bJmJ8Yk/link2.png"></div>
<div id="buip" class="linksysbg"><img src="https://i.ibb.co/HG81FLX/link4.png"></div>
 
</div></div>










<div class="tab"> 
<input type="radio" id="tab-5" name="tab-group-1"> 
<label for="tab-5" class="fifth"><a href="https://www.hexrpg.com/my.php">hex</a></label> 
<div class="content"> 
just a link!
</div></div>




    
</div> 






<div class="scholesy"><a href="http://www.hexrpg.com/f/51/67066"><div class="fizzer">C</div></a><a href="http://www.hexrpg.com/f/51/67066"><div class="gnev">satnav</div></a><div class="giggsy"> </div></div>